.user-avatar {
    border-radius: 99%;
}
.header h1 {
  font-size: 60px;
  background-color: #fff;
}

.header {
  font-size: 14px;

}
.header span:focus {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}
.header a:hover{
  color: #428bca!important;
  text-decoration: none;

}

.navlist {
    margin: 0;
    padding: 0;
    display: inline;
}

.header-nav-img {
  max-height: 24px;
  position: relative;
  top: -2px;
  padding: 0 0 0 0;
  margin: 0;
}
.brand {
  color:#333;
  font-size: 15px;
  padding: 0 10px 0 0;
}
.navbar-cbd {
    min-height: 30px;
    margin-bottom: 0;
    border: 0;
    z-index: 1;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}
.container-cbd {
  /*background-color: #009b48!important;*/
  /*color:white;*/
  color: #bdbdbd;
  min-height: 26px;
  padding-top: 5px;
  list-style-type: none;
}

.container-cbd-icon {
  color: #bdbdbd;
  cursor: pointer;
}
.cbd-toggle{
  color: #bdbdbd;

  cursor: pointer;
  font-size: 80%;

}
 .bump-up-one{bottom:1px;}

 .navlist {
  margin: 0;
  padding: 0;
  display: inline;
  padding-left: 40px;
}
 .navlist li {
  display: inline;
  list-style-type: none;
  padding: 0 15px 0 0;
  margin: 0;
  line-height: 20px;
}
 .header .navbar-default .navbar-nav li {
  padding: 0 10px;
}
#portal-mobi-footer{
  background-color:#009b48;
  color:#fff;
  position:fixed;
 left:0px;
 bottom:0px;
width:100%;
z-index:10;
/*height:25px;*/
}

@media (max-width: 960px) {
  #portal-mobi-header{

    position:fixed;
   left:0px;
   top:0px;
  width:100%;
  z-index:5;
  /*height:25px;*/
  }
}
/*.navbar-default .navbar-nav li a {
    color: #bdbdbd;
    cursor:pointer;
  padding: 0 0 0 5px;
  line-height: 32px;
  text-shadow: 0 0 0;
  letter-spacing: 1.5px;
  font-weight: 200;
}*/
/*.navbar-default .navbar-nav li a:hover {
  color: white;     color: #428bca!important;
}*/
 .mobi-menu-btn {
  right: 30px;
  float: none;
  line-height: 32px;
  cursor: pointer;
}
 .header .navbar-toggle {
  border: 0;
  color: white;
  padding: 0 5px;
  margin: 0 0 0 15px;
}
.fa-fix2 {
  left: 0;
}
 .header .navbar-default .navbar-toggle {
  background-color: #fff!important;
}
@media (max-width: 990px) {
 .header .navbar-header {
    float: none;
  }
 .header .navbar-toggle {
    display: inline;
  }
 .header .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
 .header .navbar-collapse.collapse {
    display: none!important;
  }
 .header .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
.header   .navbar-nav>li {
    float: none;
  }
 .header .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
.header .navbar-collapse.collapse.in {
    display: block!important;
  }
.header .collapsing {
    overflow: hidden!important;
  }
}
@media (max-width: 767px) {
 .header .navbar-default .navbar-nav .open .dropdown-menu li a {
    color: white;
  }
}
 .btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

