
#CBD-Branding .notifications {
  width:100%;

}
#CBD-Branding .notifications table, #CBD-Branding .notifications  th, #CBD-Branding .notifications td {
  border-bottom: 1px solid #ddd;
}

#CBD-Branding .notification-item {
    padding: 0 5px;
    padding-bottom:10px;
    margin: 5px 5px;
    /*background: #ccc;*/
    border-bottom:1px solid #ddd;
}
#CBD-Branding .notification-read  i, #CBD-Branding .notification-read  span, #CBD-Branding .notification-read div, #CBD-Branding .notification-read td, #CBD-Branding .notification-read strong, #CBD-Branding .notification-read a {
    color:#bbb !important;
}


#CBD-Branding .notification-unread  i, #CBD-Branding .notification-unread strong{
    color:#428bca !important;
}

#CBD-Branding .notification-unread  span , #CBD-Branding .notification-unread  div, #CBD-Branding .notification-unread  td  {
    color:#333 !important;
}
@media (max-width: 767px) {
  #CBD-Branding .notifications {

    width:95%;

  }
}

#CBD-Branding .notifications-panel{
margin: 10px 10px 10px 10px ;
  max-height:400px;overflow: scroll;
}
#CBD-Branding .col-centered{
float: none;
margin: 0 auto;
}
