.scbd-btn, .scbd-btn-large, .scbd-btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.scbd-btn, .scbd-btn-large{
  text-transform: uppercase;
}
.scbd-btn.disabled, .disabled.scbd-btn-large, .scbd-btn-floating.disabled, .scbd-btn-large.disabled, .scbd-btn:disabled, .scbd-btn-large:disabled, .scbd-btn-large:disabled, .scbd-btn-floating:disabled {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.scbd-btn.disabled *, .disabled.scbd-btn-large *, .scbd-btn-floating.disabled *, .scbd-btn-large.disabled *, .scbd-btn:disabled *, .scbd-btn-large:disabled *, .scbd-btn-large:disabled *, .scbd-btn-floating:disabled * {
  pointer-events: none;
}

.scbd-btn.disabled:hover, .disabled.scbd-btn-large:hover, .scbd-btn-floating.disabled:hover, .scbd-btn-large.disabled:hover, .scbd-btn:disabled:hover, .scbd-btn-large:disabled:hover, .scbd-btn-large:disabled:hover, .scbd-btn-floating:disabled:hover {
  background-color: #DFDFDF;
  color: #9F9F9F;
}

.scbd-btn i, .scbd-btn-large i, .scbd-btn-floating i, .scbd-btn-large i, .scbd-btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.scbd-btn, .scbd-btn-large {
    vertical-align: middle;
  text-decoration: none;

  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  bottom:0px;
}
.scbd-btn-flat {
  padding: 0 5px 0 5px;

}
/*.scbd-btn:hover, .scbd-btn-large:hover {
  background-color: #2bbbad;
}*/

.scbd-btn-floating {
  display: inline-block;

  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 32px;
  height: 32px;
  line-height: 40px;
  padding: 0;
  /*background-color: #26a69a;*/
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}
/*.scbd-btn-icon i{
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;

  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}
.scbd-btn-icon i{
  display: inline-block;
  text-align: center;
  color: inherit;
  line-height: 37px;

}*/
.scbd-btn-floating i {
  /*width: inherit;*/
  display: inline-block;
  text-align: center;
  color: inherit;
  line-height: 32px;
}

/*.scbd-btn-floating:hover {
  background-color: #26a69a;
}*/

.scbd-btn-floating:before {
  border-radius: 0;
}

.scbd-btn-floating.scbd-btn-large {
  width: 55.5px;
  height: 55.5px;
}

.scbd-btn-floating.scbd-btn-large i {
  line-height: 55.5px;
}

