/*thanks to https://github.com/codrops/scbd-ttStylesInspiration*/
.scbd-tt {
	display: inline-block;
	position: relative;
	z-index: 999;
}

/* Trigger text */

.scbd-tt-item {
display: inline-block;
	/*cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0 10px;*/
}

/* Gap filler */

.scbd-tt-item::after {

	content: '';
	position: absolute;
	/*width: 360px;
	height: 20px;
	bottom: 100%;*/
  background: rgba(0,0,0,0.7);
	left: 50%;

	pointer-events: none;
	-webkit-transform: translateX(1%);
	transform: translateX(1%);
}

.scbd-tt:click .scbd-tt-item::after {
	pointer-events: auto;
}

.scbd-tt-content {
	position: absolute;
	z-index: 9999;
	/*width: 360px;*/
	left:0px;
	margin: 0 0 10px 0;

	bottom: 100%;
	text-align: left;
	font-size: 0.765em;
	line-height: 1.4;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  color:#ffffff;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	cursor: default;
	pointer-events: none;

}

.scbd-tt-grow .scbd-tt-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.scbd-tt:hover .scbd-tt-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}



/* Arrow */

.scbd-tt-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color:  rgba(0,0,0,0.9);
	border-width: 10px;
	margin-left: -10px;
  opacity:.8;
}

/* scbd-tt content*/



.scbd-tt-text {
	font-size: 0.68em;
	line-height: 1.3em;
	display: block;
	padding: 1.31em 1.21em 1.21em 1.21em;
	color: #fff;
}

.scbd-tt-effect-5 .scbd-tt-text {
	padding: 1.4em;
}

.scbd-tt-text a {
	font-weight: bold;
}

