
/*! Credits to for base css:
*Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee
---------
*/

/* Menu Appearance */

.pushy{

    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    /*z-index: 9999;*/
    background: #009b48;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}
.p-right{
  right:0;
}
.pushy  a{
    display: block;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

/*.pushy a:hover{
    background: #000000;
    color: #FFF;
}*/

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-240px,0,0);
    -moz-transform: translate3d(-240px,0,0);
    -ms-transform: translate3d(-240px,0,0);
    -o-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
}
.pushy-right{
    -webkit-transform: translate3d(240px,0,0);
    -moz-transform: translate3d(240px,0,0);
    -ms-transform: translate3d(240px,0,0);
    -o-transform: translate3d(240px,0,0);
    transform: translate3d(240px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

 /*.push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}*/

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 498;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}

.menu-toggle-list {

  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}


/*
.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: #FF5722;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}

.md-button-toggle.toggled {
  background-color: rgba(0, 0, 0, 0.02);
}

.side-menu .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 12px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}

*/
